* {box-sizing: border-box;}
body {

    background-color: lightgoldenrodyellow;
    font-family: 'Segoe UI', Tahoma, Geneva, 
    Verdana, sans-serif;
    /* Reset de espaçamento */
    margin: 0;
}

h1 {background-color: black;
color: white;
margin: 0;
padding-left:  15px;
}

#imagem-decorativa {
    height: 450px;
    background-image: url(../imagens/teclado.jpg);
    background-attachment: fixed;
    background-size: cover;   
}

main {
    margin: auto;
    width: 85%;
}

footer {
    height: 200px;
    background-color: blue;
    color: white;
/* centralização total x e y */
    display: flex;
    justify-content: center;
    align-items: center;
}


.treinamentos section {
    background-color: white;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
    box-shadow: green;
    width: 32%;
}

/* DIV que envolve as sections */
.treinamentos {
     display: flex; /*Linha/ROW */
    justify-content: space-between;
}

.flutuar-imagem {
    float: left;
    margin-right: 30px;
}

@media screen and (max-width: 600px) {
    .treinamentos { flex-direction: column;}
    /* width auto para a imagem se acertar de acordo com a tela */
    .treinamentos section {

        width: auto; 
        margin-top: 20px;
    }

}